@charset "utf-8"; .W_title .to-old-link a {
    width: 100%;
    height: 28px;
    line-height: 28px;
    background: #fff9ce;
    display: block;
    color: #333;
    font-size: 10px;
    padding: 0 10px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box
}

.W_title {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    max-width: 640px;
    margin: 0 auto;
    background: #fff;
    border-bottom: 1px solid #ddd
}

.W_title ul li {
    display: block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    color: #444
}

.W_title .wb_back {
    position: absolute;
    left: 0;
    z-index: 2
}

.W_title .user_custom {
    width: 71px
}

.W_title .rewrite_right,.W_title .wb_more,.W_title .wb_right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2
}

.W_title .wb_right_kf {
    text-align: center;
    color: #333;
    font-size: 10px
}

.W_title .wb_right_kf .icon-a-ntalk-default {
    margin: 5px auto -14px
}

.W_title .rewrite_right a {
    display: block
}

.W_title .wb_title_middle {
    width: auto;
    position: relative;
    margin-left: 44px
}

.W_title ul li.wb_title {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-left: 0
}

.W_title .head-logo {
    margin: 6px auto 0;
    display: block;
    width: 48px;
    height: 24px
}

.W_title .head-logo img {
    width: 100%
}

.W_title li.wb_index_srearch {
    height: 28px;
    margin-top: 8px;
    margin-right: 45px
}

.W_title li.all_search {
    margin-left: 71px
}

.W_title li.wb_index_srearch .to_search {
    display: block;
    height: 26px;
    line-height: 26px;
    background: #f1f1f1;
    border-radius: 13px;
    font-size: 12px;
    color: #999;
    padding-left: 32px
}

.W_title li.wb_index_srearch .search_in {
    color: #333
}

.W_title .wb_search_result .srh_icon,.W_title li.wb_index_srearch .srh_icon {
    position: absolute;
    top: 8px;
    left: 11px
}

.W_pt_shopHeader .W_title .wb_right,.sHead_top_bread .W_title .wb_right {
    right: 44px
}

.W_title ul li.wb_search_result {
    height: 28px;
    line-height: 28px;
    margin-top: 8px;
    margin-right: 6px;
    background: #f1f1f1;
    border-radius: 100px;
    font-size: 14px;
    color: #333
}

.W_title .wb_search_result .search_work {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 32px;
    font-size: 12px;
    color: #999
}

.W_title li.wb_search {
    height: 28px;
    line-height: 28px;
    margin-top: 8px;
    margin-right: 44px;
    border-radius: 100px;
    background: #f1f1f1
}

.W_title li.wb_search form {
    margin-top: -3.5px
}

.W_title li.wb_search .icon-a-search01 {
    position: absolute;
    top: 8px;
    left: 10px
}

.W_title li.wb_search input {
    width: 90%;
    height: 28px;
    font-size: 12px;
    color: #333;
    background: #f1f1f1;
    padding-left: 32px;
    border: none;
    box-sizing: border-box
}

.W_title li.wb_search input[type=search]::-webkit-search-cancel-button {
    display: none
}

.W_title li .clean_search {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 28px;
    z-index: 99
}

.W_title li .clean_search i {
    position: absolute;
    top: 7px;
    right: 6px
}

.W_sort_header .W_title .wb_right {
    position: absolute;
    top: 0;
    right: 44px
}

.W_title .wb_cart {
    position: absolute;
    right: 8%;
    top: 0;
    z-index: 2
}

.W_title .wb_cart a i {
    display: none
}

.W_title .wb_cart.w_title_rd i {
    display: block
}

.W_title .wb_cart .icon-a-goodscart {
    position: relative;
    top: 10px
}

.W_title .wb_cart .icon-a-goodscart i {
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    position: absolute;
    top: -3px;
    right: -8px;
    font-size: 10px;
    color: #fff;
    background: #d90000;
    border-radius: 50%;
    border: 1px solid #fff
}

.W_title ul .wb_goods_tab {
    text-align: center;
    margin-left: 0
}

.W_title .wb_goods_tab ul li {
    width: 64px;
    display: inline-block
}

.W_title .wb_goods_tab ul li a {
    display: inline-block;
    font-size: 14px;
    color: #666;
    line-height: 38px
}

.W_title .wb_goods_tab ul li a.on {
    color: #333;
    border-bottom: 3px solid #333
}

.W_register a {
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    background-color: #4a3131
}

.W_register a img {
    width: 100%
}

.W_register a span {
    display: block
}

.W_register span.sp1 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 64px;
    height: 50px;
    z-index: 3
}

.W_register a span.sp1 i {
    display: block;
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    line-height: 12px;
    color: #d8d8d8;
    letter-spacing: 15px;
    margin-left: 5px
}

.W_register a span.sp1 em {
    font-size: 14px;
    text-align: center;
    color: #d0b286;
    display: block;
    line-height: 14px;
    padding-top: 4px;
    letter-spacing: 6px
}

.W_register a span.sp2 {
    width: 30%;
    background: #cda977;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 50px
}

@charset "utf-8";.icon-a-address {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 0;
    background-size: 443px;
    width: 84px;
    height: 84px
}

.icon-a-autofill {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -104px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-back01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -98px -300px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-back02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -49px -300px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-bad {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -105px -247px;
    background-size: 443px;
    width: 47px;
    height: 47px
}

.icon-a-bg_prompt {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -267px -234px;
    background-size: 443px;
    width: 6px;
    height: 3.5px
}

.icon-a-careful {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -251.5px;
    background-size: 443px;
    width: 21px;
    height: 21px
}

.icon-a-cart01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -272px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-cart02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -212px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-caution-16px {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -265px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-caution-blue-32px {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -307px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-close01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -304px -272px;
    background-size: 443px;
    width: 19px;
    height: 18px
}

.icon-a-close02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -391px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-close03 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -332px 0;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-close04 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -200px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-collection-choice {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -158px -368px;
    background-size: 443px;
    width: 17px;
    height: 17px
}

.icon-a-collection-choice2 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -180px -368px;
    background-size: 443px;
    width: 17px;
    height: 17px
}

.icon-a-collection-nothing {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -178px 0;
    background-size: 443px;
    width: 84px;
    height: 81px
}

.icon-a-collection-select {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -328.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-collection-select2 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -353.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-coupon-selected {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -208px -163px;
    background-size: 443px;
    width: 10px;
    height: 10px
}

.icon-a-coupon {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -84px -417.5px;
    background-size: 443px;
    width: 15px;
    height: 15px
}

.icon-a-discover01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -30px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-discover02l {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -182px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-empty-cart {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -89px -89px;
    background-size: 443px;
    width: 82px;
    height: 84px
}

.icon-a-evaluate-del {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -135px -368px;
    background-size: 443px;
    width: 18px;
    height: 18px
}

.icon-a-evaluate-photo {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px 0;
    background-size: 443px;
    width: 32px;
    height: 32px
}

.icon-a-evaluate-star {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -147px -300px;
    background-size: 443px;
    width: 40px;
    height: 40px
}

.icon-a-evaluate-star2 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -192px -300px;
    background-size: 443px;
    width: 40px;
    height: 40px
}

.icon-a-eye-on {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -140px -349px;
    background-size: 443px;
    width: 16px;
    height: 11.5px
}

.icon-a-eye {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -119px -349px;
    background-size: 443px;
    width: 16px;
    height: 11.5px
}

.icon-a-filter {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -100px -349px;
    background-size: 443px;
    width: 14px;
    height: 14px
}

.icon-a-foot {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -89px;
    background-size: 443px;
    width: 84px;
    height: 84px
}

.icon-a-goods-bottom {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -277.5px;
    background-size: 443px;
    width: 21px;
    height: 21px
}

.icon-a-goods-classify {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -370px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-goods-close {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -332px -98px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-goods-coupon {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -349px;
    background-size: 443px;
    width: 70px;
    height: 14px
}

.icon-a-goods-head {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -60px;
    background-size: 443px;
    width: 24px;
    height: 24px
}

.icon-a-goods-kefu {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -225.5px;
    background-size: 443px;
    width: 21px;
    height: 21px
}

.icon-a-goods-logo {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -368px;
    background-size: 443px;
    width: 38px;
    height: 19.5px
}

.icon-a-goods-lower {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -328px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-goods-more {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -74px;
    background-size: 443px;
    width: 32px;
    height: 32px
}

.icon-a-goods-service {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -240px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-goods-store {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -286px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-goods-time {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -189px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-goods-up {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -332px -196px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-goods-upper {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -244px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-goods-wuxing {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -433px -378.5px;
    background-size: 443px;
    width: 8px;
    height: 8px
}

.icon-a-goods-xin {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -304px -247px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-goods-xin2 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -50px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-goodscart {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -89px;
    background-size: 443px;
    width: 24px;
    height: 24px
}

.icon-a-green-tick {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -204px -178px;
    background-size: 443px;
    width: 48px;
    height: 48px
}

.icon-a-home01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -302px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-home02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -332px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-hyfl-tit {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -75px -349px;
    background-size: 443px;
    width: 20px;
    height: 14px
}

.icon-a-icon_close {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -112px -368px;
    background-size: 443px;
    width: 18px;
    height: 18px
}

.icon-a-invoice-add {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -175px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-invoice-delete {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -89px -368px;
    background-size: 443px;
    width: 18px;
    height: 18px
}

.icon-a-invoice {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -178px -86px;
    background-size: 443px;
    width: 72px;
    height: 72px
}

.icon-a-kf-close {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -206px -247px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-kf-person {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -267px -185px;
    background-size: 443px;
    width: 54px;
    height: 44px
}

.icon-a-location {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -66px -368px;
    background-size: 443px;
    width: 18px;
    height: 18px
}

.icon-a-location2 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -43px -368px;
    background-size: 443px;
    width: 18px;
    height: 18px
}

.icon-a-m-aftersale {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -303.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-collection {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -42px -417.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-m-comment {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -75px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-coupon {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -100px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-evaluate {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -125px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-footprint {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -150px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-head01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -178px;
    background-size: 443px;
    width: 64px;
    height: 64px
}

.icon-a-m-head02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -69px -178px;
    background-size: 443px;
    width: 64px;
    height: 64px
}

.icon-a-m-integral {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -225px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-invoice {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -250px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-pay {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -275px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-place {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -202px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-m-presale {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -325px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-receipt {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -300px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-setting {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -37px;
    background-size: 443px;
    width: 32px;
    height: 32px
}

.icon-a-m-ship {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -25px -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-wallet {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -392.5px;
    background-size: 443px;
    width: 20px;
    height: 20px
}

.icon-a-m-write {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -371px -392.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-mj_logo1 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -332px -49px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-mj_logo2 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -157px -247px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-mj_yixuan {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -350px -392.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-more {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -111px;
    background-size: 443px;
    width: 23px;
    height: 36px
}

.icon-a-my01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -349px -300px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-my02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -242px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-nav01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -332px -147px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-nav02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -300px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-ntalk-default {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -173.5px;
    background-size: 443px;
    width: 21px;
    height: 21px
}

.icon-a-ntalk-goods {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -199.5px;
    background-size: 443px;
    width: 21px;
    height: 21px
}

.icon-a-ntalk {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -255px -247px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-o-tik02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -161px -349px;
    background-size: 443px;
    width: 15px;
    height: 11px
}

.icon-a-order-empty {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -89px 0;
    background-size: 443px;
    width: 84px;
    height: 84px
}

.icon-a-phone {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -434px -392.5px;
    background-size: 443px;
    width: 9px;
    height: 12px
}

.icon-a-price01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -172px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-price02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -155px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-price03 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -206px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-qiandao {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -413px -392.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-qiandao2 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -417.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-qzone {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -267px -65px;
    background-size: 443px;
    width: 60px;
    height: 60px
}

.icon-a-r-arrow {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -121px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-red-tik {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -63px -417.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-register {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -378.5px;
    background-size: 443px;
    width: 10px;
    height: 9px
}

.icon-a-rtndetail-bg {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -409px -111px;
    background-size: 443px;
    width: 3.5px;
    height: 1.5px
}

.icon-a-search01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -138px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-search02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -332px -245px;
    background-size: 443px;
    width: 44px;
    height: 44px
}

.icon-a-set_icon_more {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -21px -417.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-sina {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -267px 0;
    background-size: 443px;
    width: 60px;
    height: 60px
}

.icon-a-sort01 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -381px -152px;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-sort02 {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px 0;
    background-size: 443px;
    width: 25px;
    height: 25px
}

.icon-a-switch-off {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -293px -300px;
    background-size: 443px;
    width: 51px;
    height: 31px
}

.icon-a-switch-on {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -237px -300px;
    background-size: 443px;
    width: 51px;
    height: 31px
}

.icon-a-tencent {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -138px -178px;
    background-size: 443px;
    width: 61px;
    height: 60px
}

.icon-a-user-chk {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -267px -130px;
    background-size: 443px;
    width: 50px;
    height: 50px
}

.icon-a-user-kf {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -145px;
    background-size: 443px;
    width: 20.5px;
    height: 23.5px
}

.icon-a-user {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -181px -349px;
    background-size: 443px;
    width: 10px;
    height: 11px
}

.icon-a-vip-grade {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -223px -417.5px;
    background-size: 443px;
    width: 12px;
    height: 12px
}

.icon-a-wallet-choice {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -418px -118px;
    background-size: 443px;
    width: 22px;
    height: 22px
}

.icon-a-wallet-fail {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -53px -247px;
    background-size: 443px;
    width: 47px;
    height: 47px
}

.icon-a-wallet-open {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -178px -163px;
    background-size: 443px;
    width: 10px;
    height: 10px
}

.icon-a-wallet-stop {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -193px -163px;
    background-size: 443px;
    width: 10px;
    height: 10px
}

.icon-a-wallet-success {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: 0 -247px;
    background-size: 443px;
    width: 48px;
    height: 48px
}

.icon-a-wallet-whole {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -223px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-white-tik {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -392px -392.5px;
    background-size: 443px;
    width: 16px;
    height: 16px
}

.icon-a-whole {
    display: block;
    background-image: url(../images/detail/a.png);
    background-position: -349px -368px;
    background-size: 443px;
    width: 16px;
    height: 16px
}
