@charset "utf-8"; header.W_title .rewrite_right {
    right: 12px;
    font-size: 12px;
    width: auto
}

.W_footer {
    position: relative
}

.W_footer_interval {
    height: auto
}

.W-popup .wb_back a.icon-a-close04 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.W-cart-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10
}

.W-cart-head .login-tips {
    font-size: 12px;
    line-height: 28px;
    text-align: center;
    height: 28px;
    max-width: 640px;
    margin: 0 auto;
    background-color: #fff9ce
}

.W-cart-head .login-tips a {
    color: #5781b4
}

.W-cart {
    padding-top: 60px;
    padding-bottom: 130px
}

.W-cart.paddingTop80 {
    padding-top: 80px
}

.W-cart .empty-status {
    padding-top: 43px;
    text-align: center
}

.W-cart .empty-status .icon {
    margin: 0 auto
}

.W-cart .empty-status .btns-wrap {
    margin-top: 60px;
    text-align: center
}

.W-cart .empty-status .btns-wrap .btns {
    display: inline-block;
    width: 100px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #d90000;
    color: #d90000;
    font-size: 12px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px
}

.W-cart .empty-status .btns-wrap .btns:first-child {
    margin-right: 18px;
    background-color: #d90000;
    color: #fff
}

.W-cart .empty-status .btns-wrap .btns:first-child a {
    color: #fff
}

.W-cart .empty-status .btns-wrap .btns a {
    color: #d90000
}

.W-cart .empty-status>p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 16px
}

.W-cart .cart-tik {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 100%
}

.W-cart .cart-tik>span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 8px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.W-cart .cart-tik .normal {
    width: 14px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #ccc;
    border-radius: 8px
}

.W-cart .cart-tik i {
    display: block
}

.W-cart .cart-tik .icon-a-red-tik {
    display: none
}

.W-cart .cart-tik.on .normal {
    display: none
}

.W-cart .cart-tik.on .icon-a-red-tik {
    display: block
}

.W-cart .shop-blocks {
    margin-bottom: 12px;
    background-color: #fff
}

.W-cart .shop-blocks .shop-title {
    position: relative;
    height: 40px;
    line-height: 40px
}

.W-cart .shop-blocks .activity {
    position: relative;
    height: 38px;
    line-height: 38px;
    padding-right: 12px;
    font-size: 12px
}

.W-cart .shop-blocks .activity i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 22%;
    line-height: 14px;
    right: 37px
}

.W-cart .shop-blocks .activity span.name {
    margin-left: 44px;
    height: 16px;
    line-height: 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    background-color: #d90000;
    padding: 0 5px
}

.W-cart .shop-blocks .activity .fr {
    margin-top: 3px
}

.W-cart .shop-blocks .shop {
    margin-left: 38px;
    font-size: 14px;
    margin-right: 12px;
    color: #333
}

.W-cart .shop-blocks .shop .tips-r {
    font-size: 12px;
    color: #d90000
}

.W-cart .shop-blocks .goods .goods-tips {
    height: 38px;
    line-height: 38px;
    font-size: 12px;
    color: #666;
    margin-left: 38px
}

.W-cart .shop-blocks .goods .goods-tips .red {
    color: #fff;
    background-color: #d90000;
    height: 16px;
    padding: 1px 5px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-right: 5px
}

.W-cart .shop-blocks .goods-tips .more-btn {
    margin-top: 3px;
    margin-right: 12px
}

.W-cart .shop-blocks .goods .lines {
    position: relative
}

.W-cart .shop-blocks .goods .inner {
    height: 132px;
    margin-left: 38px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: -webkit-calc(100% - 120px - 38px);
    width: calc(100% - 120px - 38px)
}

.W-cart .shop-blocks .goods:last-child .inner {
    border-bottom: none
}

.W-cart .shop-blocks .goods .lines .slide-wrap {
    position: relative;
    height: 132px;
    width: 100%
}

.W-cart .shop-blocks .goods .lines .slide-wrap .slide-scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: -webkit-calc(100% + 120px);
    width: calc(100% + 120px)
}

.W-cart .shop-blocks .goods .lines .slide-wrap .btns {
    width: 120px
}

.W-cart .shop-blocks .goods .lines .slide-wrap .btns .bs {
    position: relative;
    width: 60px;
    height: 127px;
    font-size: 14px
}

.W-cart .shop-blocks .goods .lines .slide-wrap .btns .bs>span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.W-cart .shop-blocks .goods .lines .slide-wrap .btns .to-collection {
    background-color: #f1f1f1;
    color: #666
}

.W-cart .shop-blocks .goods .lines .slide-wrap .btns .to-delete {
    background-color: #d90000;
    color: #fff
}

.W-cart .shop-blocks .goods .inner .img {
    position: relative;
    width: 98px;
    height: 98px;
    margin-top: 18px
}

.W-cart .shop-blocks .goods .inner .img img {
    width: auto;
    height: 100%;
    margin: 0 auto
}

.W-cart .shop-blocks .goods .inner .img .stock-tips {
    position: absolute;
    width: 100%;
    height: 16px;
    line-height: 16px;
    background-color: rgba(132,132,132,.8);
    z-index: 2;
    bottom: 0;
    left: 0;
    color: #fff;
    font-size: 10px;
    text-align: center
}

.W-cart .shop-blocks .goods .inner .desc {
    position: relative;
    height: 98px;
    margin-top: 18px;
    margin-left: 107px
}

.W-cart .shop-blocks .inner .desc .words {
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    margin-right: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #151515
}

.W-cart .shop-blocks .inner .desc .specifications {
    color: #999;
    font-size: 10px;
    line-height: 10px;
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.W-cart .shop-blocks .inner .desc strong {
    color: #333
}

.W-cart .shop-blocks .inner .desc .tips {
    font-size: 10px;
    color: #d90000;
    line-height: 10px;
    padding-top: 8px
}

.W-cart .shop-blocks .inner .desc .grey-tips {
    font-size: 10px;
    color: #333;
    margin-top: 3px
}

.W-cart .shop-blocks .inner .desc .presellBadge {
    display: inline-block;
    color: #b3a26b;
    border: 1px solid #b3a26b;
    padding: 2px 5px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 14px;
    font-size: 10px;
    margin-top: 3px
}

.W-cart .shop-blocks .inner .desc .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 16px
}

.W-cart .shop-blocks .inner .editor {
    display: none;
    position: relative;
    height: 127px;
    margin-left: 107px;
    padding-right: 60px
}

.W-cart .shop-blocks .inner .editor .calc {
    position: relative;
    top: 13px;
    margin-right: 16px;
    border: 1px solid #ddd;
    height: 28px
}

.W-cart .shop-blocks .inner .editor .calc span {
    display: inline-block;
    font-size: 18px;
    width: 40px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #979797
}

.W-cart .shop-blocks .inner .editor .calc span:last-child {
    position: absolute;
    right: 0;
    top: 0
}

.W-cart .shop-blocks .inner .editor .calc span.grey {
    color: #d8d8d8
}

.W-cart .shop-blocks .inner .editor .calc .val {
    display: block;
    margin: 0 40px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px
}

@media only screen and (max-width: 320px) {
    .W-cart .shop-blocks .inner .editor .calc span {
        width:28px
    }

    .W-cart .shop-blocks .inner .editor .calc .val {
        margin: 0 28px
    }
}

.W-cart .shop-blocks .inner .editor .del {
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 127px;
    width: 60px;
    color: #fff;
    background-color: #d90000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.W-cart .shop-blocks.editing .editor {
    display: block
}

.W-cart .shop-blocks.editing .desc {
    display: none
}

.W-cart .shop-blocks.editing .shop .tips-r {
    display: none
}

.W-cart .shop-blocks .inner .price i:nth-child(1) {
    font-size: 12px;
    color: #333
}

.W-cart .shop-blocks .inner .price i:nth-child(2) {
    font-size: 16px;
    color: #333
}

.W-cart .shop-blocks .inner .price i:nth-child(3) {
    text-decoration: line-through;
    color: #ccc;
    font-size: 10px
}

.W-cart .shop-blocks .inner .quatity {
    font-size: 14px;
    color: #999;
    margin-right: 12px
}

.W-cart .fail-goods {
    background-color: #fff
}

.W-cart .fail-goods .title {
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    border-bottom: 1px solid #ddd
}

.W-cart .fail-goods .title .left {
    font-size: 14px;
    color: #333
}

.W-cart .fail-goods .title .right {
    font-size: 12px;
    color: #666
}

.W-cart .fail-goods .lines {
    position: relative
}

.W-cart .fail-goods .inner {
    padding-top: 15px;
    padding-bottom: 13px;
    margin-left: 38px;
    border-bottom: 1px solid #ddd
}

.W-cart .fail-goods .lines:last-child .inner {
    border-bottom: none
}

.W-cart .fail-goods .inner .img,.W-cart .fail-goods .inner .img img {
    width: 98px;
    height: 98px
}

.W-cart .fail-goods .inner .desc {
    position: relative;
    height: 98px;
    margin-left: 107px
}

.W-cart .fail-goods .inner .desc .words {
    height: 32px;
    font-size: 14px;
    line-height: 16px;
    margin-right: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #ccc
}

.W-cart .fail-goods .inner .desc strong {
    color: #ccc
}

.W-cart .fail-goods .inner .desc .tips {
    font-size: 14px;
    color: #333;
    margin-top: 6px
}

.W-cart .fail-goods .inner .desc .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    line-height: 16px
}

.W-cart .fail-goods .inner .bottom .find {
    margin-right: 12px;
    padding: 0 5px;
    border: 1px solid #979797;
    font-size: 10px;
    height: 16px;
    border-radius: 8px
}

.W-cart .fail-goods .fail-tips {
    position: absolute;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    border-radius: 8px;
    background-color: #ccc;
    color: #fff;
    left: 12px;
    top: 50%;
    margin-top: -8px;
    padding: 0 5px
}

.W-cart-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 640px;
    z-index: 200
}

.W-cart-footer .footer-bar {
    position: relative;
    width: 100%;
    height: 46px;
    background-color: #fff
}

.W-cart-footer .footer-bar .left {
    padding-right: 99px;
    border-top: 1px solid #ddd
}

.W-cart-footer .submit-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 99px;
    height: 100%;
    background-color: #d90000;
    color: #fff;
    border: none;
    font-size: 14px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 3;
    border-top: 1px solid #d90000
}

.W-cart-footer .detail {
    padding-top: 6px;
    padding-right: 10px;
    text-align: right;
    font-size: 10px;
    color: #999
}

.W-cart-footer .detail>p:nth-child(1) {
    font-size: 12px;
    color: #666
}

.W-cart-footer .detail>p:nth-child(1) span {
    font-size: 18px;
    color: #d90000;
    margin-left: 2px
}

.W-cart-footer .cart-tik {
    position: absolute;
    left: 12px;
    top: 0;
    line-height: 46px;
    font-size: 14px
}

.W-cart-footer .cart-tik .normal {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    border: 1px solid #ccc;
    border-radius: 8px
}

.W-cart-footer .cart-tik span {
    display: inline-block;
    vertical-align: middle
}

.W-cart-footer .cart-tik i {
    margin-left: 6px
}

.W-cart-footer .cart-tik .icon-a-red-tik {
    display: none
}

.W-cart-footer .cart-tik.on .normal {
    display: none
}

.W-cart-footer .cart-tik.on .icon-a-red-tik {
    display: inline-block
}

.W-cart-footer .footer-bar-editing .edit-btns {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%
}

.W-cart-footer .footer-bar-editing .edit-btns .btns {
    height: 100%;
    z-index: 3;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.W-cart-footer .footer-bar-editing .edit-btns .add-to-collect-btn {
    width: 90px;
    background-color: #fff;
    color: #666;
    border: none;
    font-size: 14px;
    border-top: 1px solid #ddd
}

.W-cart-footer .footer-bar-editing .edit-btns .delete-btn {
    width: 99px;
    background-color: #ccc;
    color: #fff;
    border: none;
    font-size: 14px;
    border-top: 1px solid #ccc
}

.W-cart-footer .footer-bar-editing .edit-btns .delete-btn.on {
    border-top: 1px solid #d90000;
    background-color: #d90000
}

.W-panel-coupon .content {
    background-color: #fff
}

.W-panel-coupon .coupons {
    padding-top: 20px;
    overflow-y: scroll;
    height: 320px
}

.W-panel-coupon .coupons-inner {
    margin: 0 12px 12px
}

.W-panel-coupon .brown {
    padding: 7px 0 11px;
    background-image: url(/public/images/1/coupons-brown.png);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.W-panel-coupon .grey {
    padding: 7px 0 11px;
    background-image: url(/public/images/1/coupons-grey2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.W-panel-coupon .coupons-inner .left {
    width: 64%
}

.W-panel-coupon .coupons-inner .left>p:nth-child(1) {
    font-size: 16px;
    color: #fff;
    line-height: 22px;
    padding: 0 20px 0 12px
}

.W-panel-coupon .coupons-inner .left>p:nth-child(1) span {
    font-size: 10px;
    line-height: 12px;
    display: inline-block;
    background-color: #936565;
    padding: 1px 4px
}

.W-panel-coupon .coupons-inner .left .desc {
    font-size: 10px;
    color: #fff;
    line-height: 12px;
    padding: 0 20px 0 12px
}

.W-panel-coupon .coupons-inner .right {
    margin-left: 64%
}

.W-panel-coupon .coupons-inner .right p {
    width: 100%;
    text-align: center
}

.W-panel-coupon .coupons-inner .right p:nth-child(1) {
    padding-top: 12px;
    font-size: 32px;
    line-height: 42px;
    color: #fff
}

.W-panel-coupon .coupons-inner .right p:nth-child(2) {
    font-size: 10px;
    color: #fff
}

.W-panel-coupon .coupons-inner.grey .left .desc {
    color: #fff
}

.W-panel-coupon .coupons-inner.grey .left>p:nth-child(1) span {
    background-color: #aeaeae
}

.W-panel-coupon .coupons-inner.grey .right p:nth-child(2) {
    color: #fff
}

.W-panel-off .content {
    height: 330px;
    background-color: #fff
}

.W-panel-coupon .W_title .wb_back a,.W-panel-off .W_title .wb_back a {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px
}

.W-panel-off .lines {
    position: relative;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    margin: 0 12px;
    border-bottom: 1px solid #ddd
}

.W-panel-off .lines p {
    padding-right: 16px
}

.W-panel-off .lines .dot {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 14px;
    height: 14px
}

.W-panel-off .lines .dot.normal {
    border: 1px solid #ccc;
    border-radius: 8px
}

.W-panel-off .lines .dot.icon-a-red-tik {
    display: none;
    width: 16px;
    height: 16px
}

.W-panel-off .lines.on .dot.normal {
    display: none
}

.W-panel-off .lines.on .dot.icon-a-red-tik {
    display: block
}

.W_common_con {
    bottom: 100px
}

.W_ntalk {
    display: none;
    position: relative
}

.W_ntalk .icon-d-right-kf {
    margin-bottom: 10px
}

.W_ntalk .ntalk_txt {
    display: none;
    width: 170px;
    position: absolute;
    right: 50px;
    top: 0;
    height: 32px;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    padding: 3px 8px;
    -webkit-transition: right .3s cubic-bezier(.25,.46,.45,.94);
    -moz-transition: right .3s cubic-bezier(.25,.46,.45,.94);
    -ms-transition: right .3s cubic-bezier(.25,.46,.45,.94);
    -o-transition: right .3s cubic-bezier(.25,.46,.45,.94);
    transition: right .3s cubic-bezier(.25,.46,.45,.94)
}

.W_ntalk .ntalk_txt.hide_ntalk {
    right: 40px
}

.W_ntalk .ntalk_txt .kf_txt {
    display: block;
    font-size: 13px;
    color: #fff;
    margin-left: 4px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.W_ntalk .ntalk_txt:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(0,0,0,.75);
    position: absolute;
    top: 15px;
    right: -5px
}
