@charset "utf-8"; @charset "utf-8";.icon-d-abc-cpay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -200px;
    background-size: 428.5px;
    width: 32px;
    height: 32px
}

.icon-d-after-repair {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -130px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-alipay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -306.5px -172px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-an {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -290.5px -196px;
    background-size: 428.5px;
    width: 10px;
    height: 10px
}

.icon-d-applepay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -287px -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-author {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 -46.5px;
    background-size: 428.5px;
    width: 80px;
    height: 80px
}

.icon-d-back02 {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -257.5px -49px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-bankcards {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-bankcomm {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -41px -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-big-head {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -123px;
    background-size: 428.5px;
    width: 35px;
    height: 35px
}

.icon-d-byf-off {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -205px -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-byf {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -246px -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-careful {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -144px -112px;
    background-size: 428.5px;
    width: 14px;
    height: 14px
}

.icon-d-ccbpay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px -164px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-close {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -155px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-cmb-life {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-cmbpay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -82px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-comm {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -123px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-comment {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -276px -366.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-credit-card {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -205px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-delete {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -335.5px -269.5px;
    background-size: 428.5px;
    width: 5px;
    height: 5px
}

.icon-d-doubt {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -150.5px -87.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-fl-select {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -328px -305.5px;
    background-size: 428.5px;
    width: 12px;
    height: 12px
}

.icon-d-gift {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -105px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-good {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -328px -284.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-good2 {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -369px -325.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-goods-service2 {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -377px -366.5px;
    background-size: 428.5px;
    width: 12px;
    height: 12px
}

.icon-d-goods-xin {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -106px -112px;
    background-size: 428.5px;
    width: 14px;
    height: 14px
}

.icon-d-goods-xin2 {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -171.5px -87.5px;
    background-size: 428.5px;
    width: 14px;
    height: 14px
}

.icon-d-goodscart {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -29px -366.5px;
    background-size: 428.5px;
    width: 21px;
    height: 21px
}

.icon-d-gsyh {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -257.5px 0;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-heart {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -348px;
    background-size: 428.5px;
    width: 16px;
    height: 12px
}

.icon-d-home-arrow {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -306.5px -45px;
    background-size: 428.5px;
    width: 40px;
    height: 40px
}

.icon-d-huaweipay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -123px -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-jiantou {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -164px -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-jsyh {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -257.5px -147px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-jtyh {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -49px -186.5px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-kfgirl {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px -287px;
    background-size: 428.5px;
    width: 31.5px;
    height: 31.5px
}

.icon-d-lepay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px 0;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-meizupay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px -41px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-mipay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px -82px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-nav-whole {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -335.5px -254px;
    background-size: 428.5px;
    width: 10.5px;
    height: 10.5px
}

.icon-d-no-search {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -49px -235.5px;
    background-size: 428.5px;
    width: 45px;
    height: 36px
}

.icon-d-notselected {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -240px -235.5px;
    background-size: 428.5px;
    width: 24px;
    height: 24px
}

.icon-d-ntalk-kf {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -196px -186.5px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-ntalk {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 -186.5px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-o-arrow {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -360px -366.5px;
    background-size: 428.5px;
    width: 12px;
    height: 16px
}

.icon-d-o-coordinate {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -55px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-o-doubt {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -297px -366.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-o-off {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -155px -235.5px;
    background-size: 428.5px;
    width: 51px;
    height: 31px
}

.icon-d-o-on {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -99px -235.5px;
    background-size: 428.5px;
    width: 51px;
    height: 31px
}

.icon-d-o-shop {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -80px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-payoff {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -287px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-playing {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -192px -65.5px;
    background-size: 428.5px;
    width: 60px;
    height: 60px
}

.icon-d-purchase {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -369px -346.5px;
    background-size: 428.5px;
    width: 12px;
    height: 12px
}

.icon-d-q-mark {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -125px -112px;
    background-size: 428.5px;
    width: 14px;
    height: 14px
}

.icon-d-r-error {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -85px -46.5px;
    background-size: 428.5px;
    width: 60.5px;
    height: 60.5px
}

.icon-d-r-left {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -49px -276.5px;
    background-size: 428.5px;
    width: 58.5px;
    height: .5px
}

.icon-d-r-link {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -108px -131.5px;
    background-size: 428.5px;
    width: 45px;
    height: 44.5px
}

.icon-d-r-next {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -85px -112px;
    background-size: 428.5px;
    width: 16px;
    height: 14px
}

.icon-d-r-phone {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -158px -131.5px;
    background-size: 428.5px;
    width: 44.5px;
    height: 44.5px
}

.icon-d-r-right {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -211px -264.5px;
    background-size: 428.5px;
    width: 58.5px;
    height: .5px
}

.icon-d-r-success {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -192px 0;
    background-size: 428.5px;
    width: 60.5px;
    height: 60.5px
}

.icon-d-r-ticket {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -207.5px -131.5px;
    background-size: 428.5px;
    width: 44.5px;
    height: 44.5px
}

.icon-d-r-title {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 0;
    background-size: 428.5px;
    width: 187px;
    height: 41.5px
}

.icon-d-recommend {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -205px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-repair {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -180px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-right-kf {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -306.5px 0;
    background-size: 428.5px;
    width: 40px;
    height: 40px
}

.icon-d-s-boc {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -311px;
    background-size: 428.5px;
    width: 32px;
    height: 32px
}

.icon-d-s-ccb {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -274px;
    background-size: 428.5px;
    width: 32px;
    height: 32px
}

.icon-d-s-cmb {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -237px;
    background-size: 428.5px;
    width: 32px;
    height: 32px
}

.icon-d-s-icbc {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -163px;
    background-size: 428.5px;
    width: 32px;
    height: 32px
}

.icon-d-samsungpay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -41px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-selected {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -211px -235.5px;
    background-size: 428.5px;
    width: 24px;
    height: 24px
}

.icon-d-share-auction {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -230px -366.5px;
    background-size: 428.5px;
    width: 20px;
    height: 20px
}

.icon-d-share-bottom {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -163px -112px;
    background-size: 428.5px;
    width: 12px;
    height: 12px
}

.icon-d-share-btn_add {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px -205px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-share-btn_mus {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px -123px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-share-close {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 -235.5px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-share-loading {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -269px -235.5px;
    background-size: 428.5px;
    width: 24px;
    height: 24px
}

.icon-d-share-norecord {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 -131.5px;
    background-size: 428.5px;
    width: 50px;
    height: 50px
}

.icon-d-share-refresh {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -318px -366.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-share {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -255px -366.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-share2 {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: 0 -366.5px;
    background-size: 428.5px;
    width: 24px;
    height: 24px
}

.icon-d-small-head {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -257.5px -196px;
    background-size: 428.5px;
    width: 28px;
    height: 28px
}

.icon-d-smartisanpay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -150.5px -46.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-tick-b {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -339px -366.5px;
    background-size: 428.5px;
    width: 16px;
    height: 16px
}

.icon-d-tick-y {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -55px -131.5px;
    background-size: 428.5px;
    width: 48px;
    height: 48px
}

.icon-d-tick {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -413.5px -348px;
    background-size: 428.5px;
    width: 12px;
    height: 12px
}

.icon-d-to-list {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -147px -186.5px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-top {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -306.5px -131px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-topay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -306.5px -90px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-vivopay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -82px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-wallet-grey {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px -41px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-wallet {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -392.5px 0;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-wechat {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -328px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-xin01 {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -394px -366.5px;
    background-size: 428.5px;
    width: 10px;
    height: 9px
}

.icon-d-xin02 {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -290.5px -211px;
    background-size: 428.5px;
    width: 10px;
    height: 9px
}

.icon-d-yellow-tik {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -306.5px -254px;
    background-size: 428.5px;
    width: 24px;
    height: 24px
}

.icon-d-ysf {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -246px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-yufu {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -164px -325.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-ywt {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -351.5px -246px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-zgyh {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -257.5px -98px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-zssh {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -82px -284.5px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.icon-d-zsyh {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -98px -186.5px;
    background-size: 428.5px;
    width: 44px;
    height: 44px
}

.icon-d-ztepay {
    display: block;
    background-image: url(../images/detail/d.png);
    background-position: -306.5px -213px;
    background-size: 428.5px;
    width: 36px;
    height: 36px
}

.W_footer a {
    display: block
}

.W_footer img {
    width: 100%
}

.W_footer {
    width: 100%;
    max-width: 640px;
    background: #fff;
    height: 49px;
    border-top: 1px solid #f1f1f1;
    position: fixed;
    bottom: 0;
    z-index: 997
}

.W_footer a {
    width: 20%;
    float: left;
    padding-top: 5px;
    color: #666;
    position: relative
}

.W_footer a>.W_footer_img {
    margin: 0 auto;
    margin-bottom: 3px
}

.W_footer a>.W_footer_img img {
    width: 40%;
    margin-left: 30%
}

.W_footer a>.W_footer_title {
    width: 80%;
    margin: 0 auto;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    color: #333
}

.W_footer a>.W_footer_tag {
    position: absolute;
    background: #d90000;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0 4px;
    top: 2px;
    right: 13px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 14px
}

.W_footer .on {
    color: #333
}

.W_footer>.on>.icon-a-home01 {
    display: block;
    width: 25px;
    height: 25px;
    background: url(/public/images/sprites-a/icon-a-home02.png) no-repeat;
    background-size: contain
}

.W_footer>.on>.icon-a-sort01 {
    display: block;
    width: 25px;
    height: 25px;
    background: url(/public/images/sprites-a/icon-a-sort02.png) no-repeat;
    background-size: contain
}

.W_footer>.on>.icon-a-discover01 {
    display: block;
    width: 25px;
    height: 25px;
    background: url(/public/images/sprites-a/icon-a-discover02l.png) no-repeat;
    background-size: contain
}

.W_footer>.on>.icon-a-cart01 {
    display: block;
    width: 25px;
    height: 25px;
    background: url(/public/images/sprites-a/icon-a-cart02.png) no-repeat;
    background-size: contain
}

.W_footer>.on>.icon-a-my01 {
    display: block;
    width: 25px;
    height: 25px;
    background: url(/public/images/sprites-a/icon-a-my02.png) no-repeat;
    background-size: contain
}
